.divNav{
    background-color: rgba(100, 100, 100, 0.6);
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    border-radius: 3%;
}

.divNav div{
    display: flex;
    justify-content: center;
    align-content: center;
}

.NavLink{
    background-color: rgb(151, 199, 236);
    border: 0px;
    border-radius: 10%;
    margin: 5% 5% 5% 5%;
    padding:  4% 10% 0.5% 10%;
    color: white;
    text-decoration: none;
    width: max-content;
    text-align: center;
    display: flex;
    align-content: center;
}

.active{
    background-color: rgb(233, 236, 151);
    border: 0px;
    border-radius: 10%;
    margin: 3% 5% 3% 5%;
    padding:  6% 10% 0.5% 10%;
    color: black;
    text-decoration: none;
    width: max-content;
    text-align: center;
    display: flex;
    font-weight:500;
}

.NavLink:hover{
    box-shadow: 0px 0px 10px 8px rgb(199, 245, 136);
    margin: 3% 5% 3% 5%;
    padding:  6% 10% 0.5% 10%;
}


.logout{
    background-color: rgb(236, 151, 182);
    font-size: large;
    border:0px;
    border-radius: 10%;
    margin: 7% 5% 7% 5%;
    padding:  20% 30% 0% 30%;
    color: white;
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: flex;
   
}

.logout:hover{
    box-shadow: 0px 0px 5px 5px rgb(234, 79, 79);
}

.search{
    width: 60px;
    margin-top: 8%;
    margin-bottom: 8%;
}