@font-face {
    font-family: 'Rick_Morty';
    src: url(./get_schwifty.ttf);
}

.divCard{
    background-color: rgba(100, 100, 100, 0.7);
    border-radius: 2%;
    width: 300px;
    margin: 0.5%;
    height: auto;
}

.divCard div{
    background-color: rgba(69, 146, 150, 0);
    display:flex;
    margin: 1%;
    height: 20%;
    margin-top: 2%;
    padding: 0%;
    
}

.divCard div div{
    display:block;
    width: 15%;
    height: 30%;
    justify-items: center;
    
}

.divCard div button{
    background-color: rgb(167, 204, 233);
    border-radius: 20%;
    width: 90%;
    height:110%;
    display: block;
    margin: auto;
    margin-top: 10%;
    font-weight: bold;
    font-family: cursive;
    font-size: medium;
    padding: 0%; 
    
}

.divCard div button:hover{
    box-shadow: 0px 0px 5px 5px rgb(199, 245, 136);
}

.divCard h1{
    color: rgb(117, 199, 213);
    font-family: 'Rick_Morty';
    font-weight: bold;
    font-size:auto;
    text-shadow: rgb(199, 245, 136) 0px 0px 12px ;
    -webkit-text-stroke: 0.3px black;
    width: 85%;
    margin: 0%;
    margin-left: 2%;
    padding: 4%;
    padding-top: 7%;
    border-radius:4%;
}

.divCard h3{
    margin: 1%;
    height: 5%; 
}

.divCard h2{
    margin: 1%;
    height: 10%;
    text-align: center;
    text-size-adjust: auto;
}

.imgCard{
    border-radius: 2%;
    height: 55%; 
    margin-top: 5%;
    margin-bottom: 2%;
}

.divCards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.Nav{
    text-decoration: none;
    width: 85%;
}